<% provide(:title, 'About') %>

<!-- Docs nav -->
  <div class="row">
    <div class="span3">
      <ul class="nav nav-list">
        <li class="nav-header">Sidebar</li>
        <li><a href="#whatis"><i class="icon-chevron-right"></i>What is SDSC Portal?</a></li>
        <li><a href="#gettingstarted"><i class="icon-chevron-right"></i>Getting Started</a></li>
        <li><a href="#managing"><i class="icon-chevron-right"></i>Managing Your Account</a></li>
      </ul>
     </div>

     <div class="span9">
        <h2>About</h2>
        <div id="whatis">
         <h4>What is SDSC Portal?</h4>
        <p>SDSC Portal is a website that makes it easy for commvault storage customers to securely manage their projects. It displays metrics, offers services, and provides information on billing.</p>
      </div>
      <div id="gettingstarted">
        <h4>Getting Started</h4>
        <p>
        <ol><li><a href="/signup">Create</a> an account, or <a href="/signin">Sign In</a>  with an existing account</li>
        <li>Start a <a href="/newproject">new project</a></li></ol>
        </p>
      </div>
      <div id="managing">
        <h4>Managing Your Account</h4>
        <p>While logged in, you can access the following through the "Account" dropdown menu:
        <ul><li>Profile: View your userpage and projects
        <li>Settings: Edit your settings</li>
        <li>New Project: Start a new project</li></ul>
        </p>
      </div>
    </div>
  </div>
