<% provide(:title, 'Billing') %>
<!-- Tabs -->
<div class="tabbable">
  <ul class="nav nav-tabs">
    <li><a href="#tab1" data-toggle="tab">Past 6 Months</a></li>
    <li><a href="#tab2" data-toggle="tab">3 Months</a></li>
    <li class="active"><a href="#tab3" data-toggle="tab">1 Month</a></li>
    <li><a href="#tab4" data-toggle="tab">Prospective</a></li>
  </ul>
  <!-- Individual Tabs -->
  <div class="tab-content">

    <div class="tab-pane" id="tab1">
      <h4>Past 6 Months</h4>
    </div>

    <div class="tab-pane" id="tab2">
      <h4>3 Months</h4>
    </div>

    <div class="tab-pane active" id="tab3">
      <h4>1 Month</h4>
    </div>

    <div class="tab-pane" id="tab4">
      <h4>Prospective</h4>
    </div>
  </div> <!-- End Individual Tabs -->

</div><!-- End Tabs -->