<div class="container">
      <!-- Tabs -->
      <div class="row">
        <div class="span9"><div class="tabbable">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">Service 1</a></li>
            <li><a href="#tab2" data-toggle="tab">Service 2</a></li>
          </ul>
          <!-- Individual Tabs -->
          <div class="tab-content">

            <div class="tab-pane active" id="tab1">
              <p>Graph 1</p>
            </div>

            <div class="tab-pane" id="tab2">
              <p>Graph 2</p>
            </div>

          </div> <!-- End Individual Tabs -->
        </div></div> <!-- End Tabs -->

        <div class="span3">
          <div class="well">
            <!-- Side Box -->
            <h3>This Month</h3>
            <p>Service 1 = </p>
            <p>Service 2 = </p>
            <hr>
            <p>Total = </p>
          </div>
        </div><!-- End Side Box -->

      </div><!-- End Row -->