<% provide(:title, 'Home') %>
<style type="text/css">
	/* Main Message */
      .hero-unit h1{
        text-shadow: 0 2px 2px rgba(0,0,0,.4);
      }
      .hero-unit p {
        max-width: 700px;
        font-size: 21px;
        line-height: 1.5;
      }

      /* Supporting Content */
      .span4 {
        text-align: center;
      }
    </style>

	<!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>SDSC Portal</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a href="/home/about" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
      </div>

      <hr>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Dashboard</h2>
          <p>View metrics of services</p>
          <p><a class="btn" href="/home/dashboard">View details &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Services</h2>
          <p>View and modify services, as well as request additional services.</p>
          <p><a class="btn" href="/home/services">View details &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Billing</h2>
          <p>See past, current, and prospective billing per month.</p>
          <p><a class="btn" href="/home/billing">View details &raquo;</a></p>
        </div>
      </div>
