<% provide(:title, 'Services') %>
<h2>Services</h2>

<% @services.each do |service| %>

<hr>
<div class="row">
  <div class="span8">
    <h3><%= service.name %></h3>
    <p><%= service.description %></p>
  </div>
  <div class="span3 offset1">
    <button type="#" class="btn btn-primary">Sign Up</button>
  </div>
</div>

<% end %>
